@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

textarea {
    font-family: "Source Code Pro";
    width: 100%;
    height: 800px;
    background-color: transparent !important;
    color: white;
    border: none !important;
    outline: none;
}

body {
    background-color: rgb(58, 55, 55);
}


