<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <title>{% block title %}KomodoBin - Home{% endblock %}</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">KomodoBin</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <div class="navbar-nav">
                        <button class="btn btn-dark" onclick=SubmitForm()>
                            <svg 
                                fill="grey" 
                                xmlns="http://www.w3.org/2000/svg" 
                                height="30px" 
                                viewBox="0 0 24 24" 
                                width="30px" 
                                fill="#000000">
                            <path 
                                d="M0 0h24v24H0V0z" 
                                fill="none"/>
                            <path 
                                d="M17 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V7l-4-4zm2 16H5V5h11.17L19 7.83V19zm-7-7c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3zM6 6h9v4H6z"
                            />
                            </svg>
                        </button>
                        <div>
                            {% block edit_button %} {% endblock %}
                        </div>
                        <div>
                            {% block new %} {% endblock %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div>
                {% block content %} {% endblock %}
            </div>
        </main>
        <footer class="card-footer" style="background-color:rgb(44, 41, 41)">
        </footer>
        <script>
            function SubmitForm() {
                document.getElementById("pasteForm").submit();
            }
            function edit() {
                document.getElementById("edit").submit();
            }
        </script>
    </body>
</html>
